Repository ttnleipzig/regenfass, changes with the owners that CODEOWNERS names for each.
All owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer, @ttnleipzig/regenfass-sketch, @ttnleipzig/regenfass-ci

feat(installer): config reading
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

Refactor Steps component to enhance user feedback and remove AlertDialog
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/components/ui/alert.tsx
  installer/src/libs/install/state.ts
  platformio.ini
Owners: @ttnleipzig/regenfass-installer, @ttnleipzig/core, @ttnleipzig/regenfass

chore(installer): update .gitignore and package.json scripts; enhance README documentation
  installer/.gitignore
  installer/.husky/commit-msg
  installer/.husky/pre-commit
  installer/.lintstagedrc.json
  installer/.markdownlint.jsonc
  installer/README.md
  installer/commitlint.config.cjs
  installer/docs/COMPONENTS.md
  installer/docs/WARP.md
  installer/package.json
  installer/scripts/generate-components-doc.ts
  installer/src/components/atoms/Confetti.tsx
Owners: @ttnleipzig/regenfass-installer

fix(installer): less noisy logging
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

ci: extract firmware metadata and upload
  .github/workflows/sketch-pr.yml
Owners: @ttnleipzig/regenfass-ci

ci: extract firmware metadata in releases as well
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

refactor(installer): update input handling in PropsPanel for consistency
  installer/index.html
  installer/src/playground/components/PropsPanel.tsx
Owners: @ttnleipzig/regenfass-installer

feat(installer): integrate SolidJS router and enhance app structure
  installer/index.html
  installer/package.json
  installer/pnpm-lock.yaml
  installer/public/registry.json
  installer/scripts/generate-playground-registry.ts
  installer/src/App.tsx
  installer/src/components/organisms/Header.tsx
  installer/src/playground/ComponentRenderer.tsx
  installer/src/playground/PlaygroundHome.tsx
  installer/src/playground/PlaygroundLayout.tsx
  installer/src/playground/components/CodeViewer.tsx
  installer/src/playground/components/PropsPanel.tsx
  installer/src/playground/components/Sidebar.tsx
  installer/src/playground/index.tsx
  installer/src/playground/registry.json
  installer/src/playground/types.ts
Owners: @ttnleipzig/regenfass-installer

ci: upload boot_app0.bin as well
  .github/workflows/sketch-pr.yml
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

feat(installer): enhance CodeViewer with syntax highlighting using PrismJS
  installer/src/playground/components/CodeViewer.tsx
Owners: @ttnleipzig/regenfass-installer

ci: upload partitions.bin to artifacts as well
  .github/workflows/sketch-pr.yml
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

feat(installer): add ModeToggle component to PlaygroundLayout for theme switching
  installer/src/playground/PlaygroundLayout.tsx
Owners: @ttnleipzig/regenfass-installer

feat(installer): enhance PropsPanel with example value filling and reset functionality
  installer/src/playground/components/PropsPanel.tsx
Owners: @ttnleipzig/regenfass-installer

ci: fix releases
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

feat(installer): improve JSX detection and enhance component imports in Playground
  installer/scripts/generate-playground-registry.ts
  installer/src/playground/ComponentRenderer.tsx
Owners: @ttnleipzig/regenfass-installer

ci: fix releases
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

feat(installer): enhance Playground components with local storage support and JSX improvements
  installer/.gitignore
  installer/src/playground/ComponentRenderer.tsx
  installer/src/playground/components/Sidebar.tsx
  installer/test-results/.last-run.json
Owners: @ttnleipzig/regenfass-installer

chore: Add permissions and debug env to release workflow
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

Upgrade release-please-action to version 4
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

Update sketch-release.yml for GitHub release settings
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

tmp
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/libs/install/config.ts
  installer/src/libs/install/sdp.ts
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

fix reconnection after flashing
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

add attribution for hardReset()
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

refactor(installer): replace button components with ActionButton for consistency
  installer/src/components/forms/ActionButton.tsx
  installer/src/installer/forms/StepConfigEditingForm.tsx
  installer/src/installer/forms/StepConnectConnectingForm.tsx
  installer/src/installer/forms/StepFinishShowingErrorForm.tsx
  installer/src/installer/forms/StepFinishShowingNextStepsForm.tsx
  installer/src/installer/forms/StepInstallWaitingForInstallationMethodChoiceForm.tsx
  installer/src/installer/forms/StepStartWaitingForUserForm.tsx
Owners: @ttnleipzig/regenfass-installer

fix warnings, remove updating
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

fix state stuff
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

fix import error
  installer/src/components/molecules/steps/Steps.tsx
Owners: @ttnleipzig/regenfass-installer

load upstream versions from xstate
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

clean up
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

load config values from device
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

fix scp reader filename
  installer/src/libs/install/scp.ts
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

wip: working config write
  installer/src/libs/install/scp.ts
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

fix(frontend): unflashed devices cause flasher to fail at load
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

fix(installer): properly switch to "WaitingForInstallationMethodChoice" stage after reading version
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

feat(playground): enhance component registry loading and default prop handling
  installer/src/playground/ComponentRenderer.tsx
Owners: @ttnleipzig/regenfass-installer

feat(installer): add multiple configuration and connection steps
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/components/molecules/steps/StepConfigWritingConfiguration.tsx
  installer/src/components/molecules/steps/StepConnectConnecting.tsx
  installer/src/components/molecules/steps/StepConnectReadingVersion.tsx
  installer/src/components/molecules/steps/StepFinishShowingError.tsx
  installer/src/components/molecules/steps/StepFinishShowingNextSteps.tsx
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/src/components/molecules/steps/StepInstallMigratingConfiguration.tsx
  installer/src/components/molecules/steps/StepInstallWaitingForInstallationMethodChoice.tsx
  installer/src/components/molecules/steps/StepStartCheckingWebSerialSupport.tsx
  installer/src/components/molecules/steps/StepStartFetchUpstreamVersions.tsx
  installer/src/components/molecules/steps/StepStartWaitingForUser.tsx
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/playground/ComponentRenderer.tsx
Owners: @ttnleipzig/regenfass-installer

feat(playground): refactor component rendering with enhanced error handling
  installer/src/playground/ComponentRenderer.tsx
Owners: @ttnleipzig/regenfass-installer

fix(installer): disable configure button when firmware isn't already installed
  installer/src/libs/install/config.ts
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

feat(installer): enhance testing setup and add vitest integration
  .cursor/rules/filetree.mdc
  .cursor/rules/icons.mdc
  .cursor/rules/solid-shadcn-components.mdc
  installer/README.md
  installer/docs/COMPONENTS.md
  installer/docs/components/README.md
  installer/package.json
  installer/pnpm-lock.yaml
  installer/public/registry.json
  installer/src/components/atoms/Headline.tsx
  installer/src/components/forms/FormField.tsx
  installer/src/components/forms/Select.tsx
  installer/src/components/forms/TextInput.tsx
  installer/src/components/molecules/ErrorList.tsx
  installer/src/components/molecules/steps/Connect.tsx
  installer/src/installer/InstallerRoot.tsx
  installer/src/installer/forms/StepConfigEditingForm.tsx
  installer/src/installer/forms/StepConnectConnectingForm.tsx
  installer/src/installer/forms/StepFinishShowingErrorForm.tsx
  installer/src/installer/forms/StepFinishShowingNextStepsForm.tsx
  installer/src/installer/forms/StepInstallWaitingForInstallationMethodChoiceForm.tsx
  installer/src/installer/forms/StepStartWaitingForUserForm.tsx
  installer/src/installer/stateToFormMap.tsx
  installer/src/installer/types.ts
  installer/src/libs/install/config.ts
  installer/src/libs/install/state.ts
  installer/src/playground/PlaygroundHome.tsx
  installer/src/playground/components/CodeViewer.tsx
  installer/src/playground/components/Sidebar.tsx
  installer/src/playground/registry.json
  installer/src/test/components/Headline.test.tsx
  installer/src/test/components/TextInput.test.tsx
  installer/src/test/forms/StepConfigEditingForm.test.tsx
  installer/src/test/forms/StepStartWaitingForUserForm.test.tsx
  installer/src/test/setup.ts
  installer/tsconfig.node.json
  installer/vite.config.ts
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

refactor(installer): update test configuration and remove obsolete test files
  .cursor/rules/test-structure.mdc
  installer/tests/components/atoms/Badge.test.tsx
  installer/tests/components/atoms/Button.test.tsx
  installer/tests/components/atoms/ButtonAction.test.tsx
  installer/tests/components/atoms/ButtonModeToggle.test.tsx
  installer/tests/components/atoms/ButtonPrimary.test.tsx
  installer/tests/components/atoms/ButtonSecondary.test.tsx
  installer/tests/components/atoms/Confetti.test.tsx
  installer/tests/components/atoms/ConfettiSpinner.test.tsx
  installer/tests/components/atoms/Headline.test.tsx
  installer/tests/components/atoms/Link.test.tsx
  installer/tests/components/atoms/Status.test.tsx
  installer/tests/components/forms/TextInput.test.tsx
  installer/tests/setup.ts
  installer/vite.config.ts
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

CODEOWNERS:

# default code owner are team leads
*                                         @ttnleipzig/core @ttnleipzig/regenfass


# Installer
/installer                                @ttnleipzig/regenfass-installer

# Sketch
/lib                                      @ttnleipzig/regenfass-sketch
/src                                      @ttnleipzig/regenfass-sketch

# github actions
/.github                                  @ttnleipzig/regenfass-ci
