Repository ttnleipzig/regenfass, changes with the owners that CODEOWNERS names for each.
All owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer, @ttnleipzig/regenfass-sketch, @ttnleipzig/regenfass-ci

fix: missing space in footer
  installer/src/components/organisms/Footer.tsx
Owners: @ttnleipzig/regenfass-installer

wip: state machine
  installer/.editorconfig
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/App.tsx
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/libs/install/state.ts
  installer/src/libs/scp/scp.mjs
  installer/src/libs/scp/scp.mod.mjs
  installer/src/libs/scp/scp.mod.wasm
  installer/tsconfig.app.json
Owners: @ttnleipzig/regenfass-installer

feat(firmware) Implement PoC for sending Sensor data from HCSR04
  platformio.ini
  src/config/config.h
  src/lora/lora-wan.cpp
  src/lora/lora-wan.h
  src/main.cpp
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-sketch

refactor(firmware) Put Battery in its own Module, Remove unused loop() from HCSR04
  platformio.ini
  src/main.cpp
  src/sensors/sensor-hcsr04.cpp
  src/sensors/sensor-hcsr04.h
  src/sensors/sensor-lora32battery.cpp
  src/sensors/sensor-lora32battery.h
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-sketch

chore: add initial backend
  .gitignore
  backend/.gitignore
  backend/Dockerfile
  backend/compose.yml
  backend/docker/db/init.sql
  backend/go.mod
  backend/go.sum
  backend/main.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(backend): persist Grafana config and data
  .editorconfig
  backend/compose.yml
  backend/docker/grafana/dashboards/definitions/.gitkeep
  backend/docker/grafana/dashboards/definitions/devices.json
  backend/docker/grafana/dashboards/provisioning.yaml
  backend/docker/grafana/datasources/postgresql.yaml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): provide health endpoint
  backend/Dockerfile
  backend/main.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): provide health endpoint
  backend/Dockerfile
  backend/main.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(installer): working newsletter subscriptions
  installer/index.html
Owners: @ttnleipzig/regenfass-installer

chore(backend/graphs): split up graph
  backend/docker/grafana/dashboards/definitions/devices.json
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(dashboard): remove threshold for water level
  backend/docker/grafana/dashboards/definitions/devices.json
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(backend): migrate to sqlc for database stuff and zerolog for logging
  backend/go.mod
  backend/go.sum
  backend/internal/db/db.go
  backend/internal/db/models.go
  backend/internal/db/query.sql.go
  backend/main.go
  backend/sql/fs.go
  backend/sql/migrations/0001_init.down.sql
  backend/sql/migrations/0001_init.up.sql
  backend/sql/queries/devices.sql
  backend/sql/queries/measurements.sql
  backend/sqlc.yaml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(backend): migrate to go-fiber for API
  backend/main.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(backend): disable TLS in Docker stack
  backend/compose.yml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

refactor(backend): move API into own struct
  backend/internal/api/api.go
  backend/internal/api/ingest.go
  backend/internal/utils/pgtype.go
  backend/internal/utils/request_logger.go
  backend/main.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

initial HX710B sensor implementation
  platformio.ini
  src/main.cpp
  src/sensors/sensor-hx710b.cpp
  src/sensors/sensor-hx710b.h
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-sketch

schema updates
  backend/sql/migrations/0001_init.up.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore: Add pnpm to devcontainer
  .devcontainer/devcontainer.json
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(gitignore): add storybook log and static files to ignore list
  installer/.gitignore
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/atoms/Confetti.css
  installer/src/components/atoms/Confetti.tsx
  installer/src/components/atoms/ConfettiSpinner.css
  installer/src/components/atoms/ConfettiSpinner.tsx
Owners: @ttnleipzig/regenfass-installer

feat(firmware): allow reporting of more data points per packet
  src/lora/lora-wan.cpp
  src/lora/lora-wan.h
  src/lora/protocol.cpp
  src/lora/protocol.h
  src/main.cpp
Owners: @ttnleipzig/regenfass-sketch

feat(installer): update dependencies and improve README.md
  installer/.storybook/main.ts
  installer/.storybook/preview.ts
  installer/README.md
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/atoms/Link.test.tsx
  installer/src/components/molecules/Status.test.tsx
  installer/src/components/organisms/Header.test.tsx
  installer/src/stories/ConfettiSpinner.stories.tsx
  installer/src/stories/Configure.mdx
  installer/src/stories/assets/accessibility.png
  installer/src/stories/assets/accessibility.svg
  installer/src/stories/assets/addon-library.png
  installer/src/stories/assets/assets.png
  installer/src/stories/assets/avif-test-image.avif
  installer/src/stories/assets/context.png
  installer/src/stories/assets/discord.svg
  installer/src/stories/assets/docs.png
  installer/src/stories/assets/figma-plugin.png
  installer/src/stories/assets/github.svg
  installer/src/stories/assets/share.png
  installer/src/stories/assets/styling.png
  installer/src/stories/assets/testing.png
  installer/src/stories/assets/theming.png
  installer/src/stories/assets/tutorials.svg
  installer/src/stories/assets/youtube.svg
  installer/src/stories/atoms/Confetti.stories.tsx
  installer/src/stories/atoms/Link.stories.tsx
  installer/src/stories/button.css
  installer/src/stories/header.css
  installer/src/stories/molecules/Flasher.stories.tsx
  installer/src/stories/molecules/Status.stories.tsx
  installer/src/stories/organisms/Footer.stories.tsx
  installer/src/stories/organisms/Header.stories.tsx
  installer/src/stories/organisms/Newsletter.stories.tsx
  installer/src/stories/organisms/Welcome.stories.tsx
  installer/src/stories/page.css
  installer/src/test/setup.ts
  installer/vitest.config.ts
Owners: @ttnleipzig/regenfass-installer

feat(backend): ingest the new data format
  backend/internal/api/ingest.go
  backend/internal/db/copyfrom.go
  backend/internal/db/db.go
  backend/internal/db/devices.sql.go
  backend/internal/db/measurements.sql.go
  backend/internal/db/models.go
  backend/internal/lora_protocol/decoder.go
  backend/sql/migrations/0002_more_datatypes.up.sql
  backend/sql/queries/devices.sql
  backend/sql/queries/measurements.sql
  backend/sqlc.yaml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(installer): implement new features and improve the user interface
  installer/src/components/forms/Checkbox.tsx
  installer/src/components/forms/ErrorList.tsx
  installer/src/components/forms/FileUploader.tsx
  installer/src/components/forms/FormField.tsx
  installer/src/components/forms/FormLayout.tsx
  installer/src/components/forms/PrimaryButton.tsx
  installer/src/components/forms/SecondaryButton.tsx
  installer/src/components/forms/Select.tsx
  installer/src/components/forms/TextInput.tsx
  installer/src/components/ui/input.tsx
  installer/src/installer/InstallerRoot.tsx
  installer/src/installer/forms/StepConfigEditingForm.tsx
  installer/src/installer/forms/StepConnectConnectingForm.tsx
  installer/src/installer/forms/StepFinishShowingErrorForm.tsx
  installer/src/installer/forms/StepFinishShowingNextStepsForm.tsx
  installer/src/installer/forms/StepInstallWaitingForInstallationMethodChoiceForm.tsx
  installer/src/installer/forms/StepStartWaitingForUserForm.tsx
  installer/src/installer/stateToFormMap.ts
  installer/src/installer/types.ts
  installer/src/test/components/TextInput.test.tsx
  installer/src/test/forms/StepConfigEditingForm.test.tsx
  installer/src/test/forms/StepStartWaitingForUserForm.test.tsx
Owners: @ttnleipzig/regenfass-installer

Update installer/src/components/forms/TextInput.tsx
  installer/src/components/forms/TextInput.tsx
Owners: @ttnleipzig/regenfass-installer

fix(firmware): crash on startup without config
  src/main.cpp
Owners: @ttnleipzig/regenfass-sketch

style(index.html): update class attributes for full height consistency
  installer/index.html
  installer/src/App.tsx
  installer/src/libs/install/state.ts
Owners: @ttnleipzig/regenfass-installer

feat(rules): add architecture and documentation rules for consistency
  .cursor/rules/architekturdiagramme.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/filetree.mdc
  .cursor/rules/framework.mdc
  .cursor/rules/icons.mdc
  .gitignore
  .markdownlintignore
  .remarkignore
  installer/package.json
  installer/playwright.config.ts
  installer/pnpm-lock.yaml
  installer/src/components/organisms/Header.tsx
  installer/src/index.tsx
  installer/tailwind.config.js
  installer/test-results/.last-run.json
  installer/tests/console-errors.spec.ts
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

feat(Footer.tsx): add mobile navigation links for Docs, GitHub, and Matrix to improve accessibility and user experience on smaller screens
  installer/src/components/organisms/Footer.tsx
Owners: @ttnleipzig/regenfass-installer

feat(installer): add solid-icons dependency for enhanced UI components
  .cursor/rules/solid-shadcn-components.mdc
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/molecules/Flasher.tsx
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/components/organisms/Header.tsx
  installer/src/components/ui/alert-dialog.tsx
  installer/src/components/ui/alert.tsx
  installer/src/components/ui/button.tsx
  installer/src/components/ui/mode-toggle.tsx
  installer/src/index.css
  installer/src/installer/forms/StepFinishShowingErrorForm.tsx
  installer/src/libs/install/state.ts
  installer/tailwind.config.js
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

docs: update documentation rules and add UI components documentation
  .cursor/rules/documentation.mdc
  installer/docs/components/README.md
  installer/docs/components/atoms/button.md
  installer/docs/components/atoms/headline.md
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/forms/FormLayout.tsx
  installer/src/components/molecules/steps/Configuration.tsx
  installer/src/components/molecules/steps/Install.tsx
  installer/src/components/organisms/Newsletter.tsx
  installer/src/components/ui/alert.tsx
  installer/src/components/ui/headline.tsx
  installer/src/installer/InstallerRoot.tsx
  installer/src/test/components/Headline.test.tsx
  installer/src/test/components/TextInput.test.tsx
  installer/src/test/forms/StepConfigEditingForm.test.tsx
  installer/src/test/forms/StepStartWaitingForUserForm.test.tsx
  installer/src/test/setup.ts
  installer/vite.config.ts
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

working parser and req/res reader for SCP in xstate
  installer/.gitignore
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/installer/InstallerRoot.tsx
  installer/src/libs/install/state.ts
  installer/tsconfig.app.json
Owners: @ttnleipzig/regenfass-installer

docs: aktualisiere Dokumentation für Button- und Headline-Komponenten
  installer/docs/components/atoms/alert.md
  installer/docs/components/atoms/badge.md
  installer/docs/components/atoms/button.md
  installer/docs/components/atoms/card.md
  installer/docs/components/atoms/headline.md
  installer/docs/components/atoms/input.md
  installer/docs/components/atoms/link.md
  installer/docs/components/atoms/select.md
  installer/docs/components/molecules/alert-dialog.md
  installer/docs/components/molecules/checkbox.md
  installer/docs/components/molecules/error-list.md
  installer/docs/components/molecules/file-uploader.md
  installer/docs/components/molecules/form-field.md
  installer/docs/components/molecules/form-layout.md
  installer/docs/components/molecules/mode-toggle.md
  installer/docs/components/molecules/secondary-button.md
  installer/docs/components/molecules/text-input.md
  installer/docs/components/organisms/flasher.md
  installer/docs/components/organisms/footer.md
  installer/docs/components/organisms/header.md
  installer/docs/components/organisms/newsletter.md
  installer/docs/components/organisms/steps/steps.md
  installer/docs/components/organisms/welcome.md
Owners: @ttnleipzig/regenfass-installer

Complete component documentation: Add Props tables and Design notes for all components (#54)
  installer/docs/components/atoms/alert.md
  installer/docs/components/atoms/badge.md
  installer/docs/components/atoms/button.md
  installer/docs/components/atoms/card.md
  installer/docs/components/atoms/confetti-spinner.md
  installer/docs/components/atoms/confetti.md
  installer/docs/components/atoms/input.md
  installer/docs/components/atoms/link.md
  installer/docs/components/atoms/select.md
  installer/docs/components/molecules/alert-dialog.md
  installer/docs/components/molecules/checkbox.md
  installer/docs/components/molecules/error-list.md
  installer/docs/components/molecules/file-uploader.md
  installer/docs/components/molecules/form-field.md
  installer/docs/components/molecules/form-layout.md
  installer/docs/components/molecules/mode-toggle.md
  installer/docs/components/molecules/secondary-button.md
  installer/docs/components/molecules/text-input.md
  installer/docs/components/organisms/flasher.md
  installer/docs/components/organisms/footer.md
  installer/docs/components/organisms/header.md
  installer/docs/components/organisms/newsletter.md
  installer/docs/components/organisms/steps/steps.md
  installer/docs/components/organisms/welcome.md
Owners: @ttnleipzig/regenfass-installer

docs: Add comprehensive examples to improve user understanding (#55)
  CONTRIBUTING.md
  README.md
  installer/README.md
  lib/scp/README.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer, @ttnleipzig/regenfass-sketch

Refactor: Use Button component for dismiss action
  installer/src/installer/forms/StepFinishShowingErrorForm.tsx
Owners: @ttnleipzig/regenfass-installer

Refactor: Use new TextField component
  installer/docs/components/molecules/form-field.md
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/components/organisms/Newsletter.tsx
  installer/src/components/ui/input.tsx
  installer/src/components/ui/textfield.tsx
Owners: @ttnleipzig/regenfass-installer

Use shadcn-solid textfield and button components (#56)
  installer/docs/components/molecules/form-field.md
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/components/organisms/Newsletter.tsx
  installer/src/components/ui/input.tsx
  installer/src/components/ui/textfield.tsx
  installer/src/installer/forms/StepFinishShowingErrorForm.tsx
Owners: @ttnleipzig/regenfass-installer

fix(backend): types in db
  backend/internal/api/ingest.go
  backend/internal/db/copyfrom.go
  backend/internal/db/db.go
  backend/internal/db/devices.sql.go
  backend/internal/db/measurements.sql.go
  backend/internal/db/models.go
  backend/sql/migrations/0001_init.up.sql
  backend/sql/migrations/0002_more_datatypes.up.sql
  backend/sql/queries/measurements.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(firmware): config version via SDP
  src/config/config.cpp
  src/config/config.h
  src/main.cpp
Owners: @ttnleipzig/regenfass-sketch

fix: some UI stuff
  installer/.gitignore
  installer/src/components/molecules/steps/Connect.tsx
  installer/src/installer/stateToFormMap.tsx
  installer/src/libs/scp/scp.mod.mjs
  installer/tsconfig.app.json
Owners: @ttnleipzig/regenfass-installer

CODEOWNERS:

# default code owner are team leads
*                                         @ttnleipzig/core @ttnleipzig/regenfass


# Installer
/installer                                @ttnleipzig/regenfass-installer

# Sketch
/lib                                      @ttnleipzig/regenfass-sketch
/src                                      @ttnleipzig/regenfass-sketch

# github actions
/.github                                  @ttnleipzig/regenfass-ci
