Repository ttnleipzig/regenfass, changes with the owners that CODEOWNERS names for each.
All owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer, @ttnleipzig/regenfass-sketch, @ttnleipzig/regenfass-ci

CODEOWNERS:

# default code owner are team leads
*                                         @ttnleipzig/core @ttnleipzig/regenfass


# Installer
/installer                                @ttnleipzig/regenfass-installer

# Sketch
/lib                                      @ttnleipzig/regenfass-sketch
/src                                      @ttnleipzig/regenfass-sketch

# github actions
/.github                                  @ttnleipzig/regenfass-ci

feat(installer): add linting scripts and improve documentation formatting
  installer/docs/COMPONENTS.md
  installer/docs/WARP.md
  installer/docs/components/atoms/alert.md
  installer/docs/components/atoms/confetti-spinner.md
  installer/docs/components/atoms/confetti.md
  installer/docs/components/atoms/headline.md
  installer/docs/components/atoms/select.md
  installer/docs/components/molecules/form-field.md
  installer/package.json
Owners: @ttnleipzig/regenfass-installer

refactor(installer): streamline installation component structure and improve state management
  .cursor/rules/AGENT.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(installer): correct file paths and improve documentation consistency
  .cursor/rules/icons.mdc
  .github/workflows/installer-test.yml
  .gitignore
  installer/docs/COMPONENTS.md
  installer/docs/WARP.md
  installer/docs/components/atoms/alert.md
  installer/scripts/generate-components-doc.ts
  installer/tests/components/molecules/AlertDialog.test.tsx
  installer/tests/components/molecules/AlertInline.test.tsx
  installer/tests/components/molecules/Card.test.tsx
  installer/tests/components/molecules/ErrorList.test.tsx
  installer/tests/components/molecules/Flasher.test.tsx
  installer/tests/components/molecules/steps/Configuration.test.tsx
  installer/tests/components/molecules/steps/Connect.test.tsx
  installer/tests/components/molecules/steps/Finish.test.tsx
  installer/tests/components/molecules/steps/Install.test.tsx
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
  installer/tests/components/molecules/steps/StepConfigWritingConfiguration.test.tsx
  installer/tests/components/molecules/steps/StepConnectConnecting.test.tsx
  installer/tests/components/molecules/steps/StepConnectReadingVersion.test.tsx
  installer/tests/components/molecules/steps/StepFinishShowingError.test.tsx
  installer/tests/components/molecules/steps/StepFinishShowingNextSteps.test.tsx
  installer/tests/components/molecules/steps/StepInstallInstalling.test.tsx
  installer/tests/components/molecules/steps/StepInstallMigratingConfiguration.test.tsx
  installer/tests/components/molecules/steps/StepInstallWaitingForInstallationMethodChoice.test.tsx
  installer/tests/components/molecules/steps/StepStartCheckingWebSerialSupport.test.tsx
  installer/tests/components/molecules/steps/StepStartFetchUpstreamVersions.test.tsx
  installer/tests/components/molecules/steps/StepStartWaitingForUser.test.tsx
  installer/tests/components/molecules/steps/Steps.test.tsx
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-ci, @ttnleipzig/regenfass-installer

feat(installer): add vitest coverage support and update test configurations
  installer/package.json
  installer/pnpm-lock.yaml
  installer/tests/components/molecules/AlertDialog.test.tsx
  installer/tests/components/molecules/AlertInline.test.tsx
  installer/tests/components/molecules/steps/Connect.test.tsx
  installer/tests/components/molecules/steps/StepFinishShowingError.test.tsx
  installer/tests/components/molecules/steps/StepInstallWaitingForInstallationMethodChoice.test.tsx
  installer/tests/components/molecules/steps/Steps.test.tsx
  installer/tests/components/organisms/Footer.test.tsx
  installer/tests/components/organisms/Header.test.tsx
  installer/tests/components/organisms/Newsletter.test.tsx
  installer/tests/components/organisms/Welcome.test.tsx
  installer/tsconfig.app.json
Owners: @ttnleipzig/regenfass-installer

chore(installer): update pre-commit hooks to use pnpm
  installer/.husky/pre-commit
Owners: @ttnleipzig/regenfass-installer

chore(installer): update documentation generation and improve formatting
  .editorconfig
  installer/docs/COMPONENTS.md
  installer/package.json
  installer/pnpm-lock.yaml
  installer/scripts/generate-components-doc.ts
  installer/scripts/generate-playground-registry.ts
  installer/scripts/misc-cli-utils.mjs
  installer/src/components/forms/InputField.tsx
  installer/src/components/forms/TextInput.tsx
  installer/tests/components/forms/Checkbox.test.tsx
  installer/tests/components/forms/FileUploader.test.tsx
  installer/tests/components/forms/FormField.test.tsx
  installer/tests/components/forms/FormLayout.test.tsx
  installer/tests/components/forms/InputField.test.tsx
  installer/tests/components/forms/Select.test.tsx
  installer/tests/components/forms/SelectField.test.tsx
  installer/tests/components/forms/TextField.test.tsx
  installer/tests/components/organisms/Header.test.tsx
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

refactor(installer): enhance button components and introduce Spinner
  installer/src/components/atoms/Badge.tsx
  installer/src/components/atoms/ButtonAction.tsx
  installer/src/components/atoms/ButtonModeToggle.tsx
  installer/src/components/atoms/ButtonPrimary.tsx
  installer/src/components/atoms/ButtonSecondary.tsx
  installer/src/components/atoms/Confetti.tsx
  installer/src/components/atoms/ConfettiSpinner.tsx
  installer/src/components/atoms/Link.tsx
  installer/src/components/atoms/Spinner.tsx
  installer/src/components/atoms/Status.tsx
Owners: @ttnleipzig/regenfass-installer

chore(installer): update pre-commit hook to use pnpx for lint-staged
  installer/.husky/pre-commit
Owners: @ttnleipzig/regenfass-installer

refactor(icons): replace Tabler icons with Lucide icons for consistency
  installer/src/components/organisms/Footer.tsx
  installer/src/components/organisms/Header.tsx
  installer/src/components/organisms/Newsletter.tsx
  installer/src/components/organisms/Welcome.tsx
  installer/tests/components/atoms/ButtonPrimary.test.tsx
  installer/tests/components/atoms/ButtonSecondary.test.tsx
  installer/tests/components/atoms/Confetti.test.tsx
  installer/tests/components/atoms/ConfettiSpinner.test.tsx
  installer/tests/components/atoms/Link.test.tsx
  installer/tests/components/atoms/Status.test.tsx
  installer/tests/components/organisms/Newsletter.test.tsx
Owners: @ttnleipzig/regenfass-installer

refactor(icons): replace Tabler icons with Lucide icons in AlertInline and ErrorList components
  installer/src/components/molecules/AlertInline.tsx
  installer/src/components/molecules/ErrorList.tsx
  installer/tests/components/molecules/ErrorList.test.tsx
Owners: @ttnleipzig/regenfass-installer

refactor(playground): update component loading logic and error handling
  installer/src/playground/ComponentRenderer.tsx
  installer/src/playground/PlaygroundLayout.tsx
Owners: @ttnleipzig/regenfass-installer

fix(playground): update documentation link and remove viewport controls
  .cursor/rules/solid-shadcn-components.mdc
  installer/src/playground/ComponentRenderer.tsx
  installer/src/playground/components/PixelRuler.tsx
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

refactor(backend/api): new group and devices API
  .gitignore
  backend/.gitignore
  backend/internal/api/api.go
  backend/internal/api/device.go
  backend/internal/api/group.go
  backend/internal/api/ingest.go
  backend/internal/api/request_logger.go
  backend/internal/db/devices.sql.go
  backend/internal/db/groups.sql.go
  backend/internal/db/models.go
  backend/main.go
  backend/sql/migrations/0002_device_groups.down.sql
  backend/sql/migrations/0002_device_groups.up.sql
  backend/sql/migrations/0003_remove_minimum_level.down.sql
  backend/sql/migrations/0003_remove_minimum_level.up.sql
  backend/sql/migrations/0004_autogenerate_device_id.down.sql
  backend/sql/migrations/0004_autogenerate_device_id.up.sql
  backend/sql/migrations/0005_autogenerate_group_id.down.sql
  backend/sql/migrations/0005_autogenerate_group_id.up.sql
  backend/sql/migrations/0006_fix_device_group_index.down.sql
  backend/sql/migrations/0006_fix_device_group_index.up.sql
  backend/sql/queries/devices.sql
  backend/sql/queries/groups.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend/api): add swagger docs
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/api/api.go
  backend/internal/api/device.go
  backend/internal/api/group.go
  backend/internal/api/ingest.go
  backend/main.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(backend): update to go 1.26
  backend/Dockerfile
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

refactor(playground): improve prop handling and DOM observation in PixelRuler and ComponentRenderer
  installer/src/playground/ComponentRenderer.tsx
  installer/src/playground/components/PixelRuler.tsx
Owners: @ttnleipzig/regenfass-installer

docs(CONTRIBUTING): clarify commit message guidelines and release workflow
  .github/workflows/sketch-release.yml
  CONTRIBUTING.md
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

fix(ci): upload installer dist directory for pages
  .github/workflows/installer-deploy.yml
Owners: @ttnleipzig/regenfass-ci

fix(workflow): remove unnecessary newline in sketch-release.yml
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

fix(workflow): remove redundant deployment name from sketch-release.yml
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

Update .github/workflows/sketch-release.yml
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

Update .github/workflows/sketch-release.yml
  .github/workflows/sketch-release.yml
Owners: @ttnleipzig/regenfass-ci

docs(conventional-commits.mdc): add guidelines for Conventional Commits
  .cursor/rules/conventional-commits.mdc
  installer/src/components/molecules/steps/StepStartWaitingForUser.tsx
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

style(StepStartWaitingForUser.tsx): update layout and styling for improved readability and consistency
  installer/src/components/molecules/steps/StepStartWaitingForUser.tsx
Owners: @ttnleipzig/regenfass-installer

style(AlertInline.tsx, index.css): refine color variables and alert styles for better accessibility
  installer/src/components/molecules/AlertInline.tsx
  installer/src/index.css
Owners: @ttnleipzig/regenfass-installer

style(StepStartWaitingForUser.tsx): update instructional text for clarity in installation steps
  installer/src/components/molecules/steps/StepStartWaitingForUser.tsx
Owners: @ttnleipzig/regenfass-installer

chore(gitignore): update to include new config and documentation files
  .gitignore
  .release-please-config.json
  AGENTS.md
  STATES.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

docs(step-paginator.md): add explanation for activeStep usage in installer flow
  installer/docs/components/molecules/step-paginator.md
  installer/src/components/forms/InputField.tsx
  installer/src/components/molecules/steps/StepConnectReadingVersion.tsx
  installer/src/components/molecules/steps/StepInstallWaitingForInstallationMethodChoice.tsx
  installer/src/components/molecules/steps/StepStartWaitingForUser.tsx
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/installer/forms/StepConfigEditingForm.tsx
  installer/src/installer/forms/StepConnectConnectingForm.tsx
  installer/src/installer/forms/StepFinishShowingErrorForm.tsx
  installer/src/installer/forms/StepFinishShowingNextStepsForm.tsx
  installer/src/installer/forms/StepInstallWaitingForInstallationMethodChoiceForm.tsx
  installer/src/installer/forms/StepStartWaitingForUserForm.tsx
  installer/src/installer/stateToFormMap.tsx
  installer/src/installer/types.ts
  installer/src/libs/install/installationActiveStep.ts
  installer/tests/components/molecules/steps/StepConnectReadingVersion.test.tsx
  installer/tests/components/molecules/steps/StepInstallWaitingForInstallationMethodChoice.test.tsx
  installer/tests/components/molecules/steps/StepStartWaitingForUser.test.tsx
  installer/tests/components/molecules/steps/Steps.test.tsx
  installer/tests/libs/install/installationActiveStep.test.ts
  installer/tests/setup.ts
  installer/vite.config.ts
Owners: @ttnleipzig/regenfass-installer

feat(docs): add documentation for AppKeyHexField and OTP Field components
  installer/docs/COMPONENTS.md
  installer/docs/components/molecules/app-key-hex-field.md
  installer/docs/components/ui/otp-field.md
  installer/package.json
  installer/pnpm-lock.yaml
  installer/src/components/forms/AppKeyHexField.tsx
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/components/ui/otp-field.tsx
  installer/src/libs/hexKeyDisplay.ts
  installer/tailwind.config.js
  installer/tests/components/forms/AppKeyHexField.test.tsx
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
  installer/tests/setup.ts
Owners: @ttnleipzig/regenfass-installer

feat(app-key-hex-field): enhance reveal animation with slot machine effect
  installer/docs/components/molecules/app-key-hex-field.md
  installer/src/components/forms/AppKeyHexField.tsx
  installer/src/libs/hexKeyDisplay.ts
  installer/src/libs/slotRevealSound.ts
  installer/tests/components/forms/AppKeyHexField.test.tsx
  installer/tests/setup.ts
Owners: @ttnleipzig/regenfass-installer

feat(StepConfigEditing.tsx): enhance UI with improved layout and styling
  installer/src/components/molecules/steps/StepConfigEditing.tsx
Owners: @ttnleipzig/regenfass-installer

docs(installation): update installation steps for clarity and alignment
  installer/src/components/molecules/steps/StepStartWaitingForUser.tsx
  installer/src/libs/install/installationActiveStep.ts
Owners: @ttnleipzig/regenfass-installer

feat(StepConfigEditing): add "Save to device" button with icon for better user guidance
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(StepFinishShowingNextSteps): add success icon and animations for improved user feedback
  installer/src/components/molecules/steps/StepFinishShowingNextSteps.tsx
  installer/tailwind.config.js
  installer/tests/components/molecules/steps/StepFinishShowingNextSteps.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(installer): enhance StepConfigWritingConfiguration with UI components
  installer/src/components/molecules/steps/StepConfigWritingConfiguration.tsx
  installer/src/components/molecules/steps/StepFinishShowingNextSteps.tsx
  installer/tests/components/molecules/steps/StepConfigWritingConfiguration.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(installer): add progress bar for configuration writing step to enhance user feedback
  installer/src/components/molecules/steps/StepConfigWritingConfiguration.tsx
  installer/src/components/molecules/steps/StepFinishShowingNextSteps.tsx
  installer/src/components/ui/progress.tsx
  installer/src/libs/install/state.ts
  installer/tailwind.config.js
  installer/tests/components/molecules/steps/StepConfigWritingConfiguration.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(StepInstallInstalling.tsx): add progress indicator and spinner for firmware installation
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/src/libs/install/state.ts
  installer/tests/components/molecules/steps/StepInstallInstalling.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(StepInstallInstalling): add completion message and icon for successful firmware installation
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/tests/components/molecules/steps/StepInstallInstalling.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(alert): add 'success' variant to AlertInline component
  installer/docs/components/atoms/alert.md
  installer/src/components/molecules/AlertInline.tsx
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/src/index.css
  installer/src/playground/ComponentRenderer.tsx
  installer/tailwind.config.js
  installer/tests/components/molecules/AlertInline.test.tsx
Owners: @ttnleipzig/regenfass-installer

style(AlertInline.tsx): update dark mode styles for success variant to improve readability and consistency
  installer/src/components/molecules/AlertInline.tsx
Owners: @ttnleipzig/regenfass-installer
