Repository ttnleipzig/regenfass, changes with the owners that CODEOWNERS names for each.
All owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer, @ttnleipzig/regenfass-sketch, @ttnleipzig/regenfass-ci

fix(backend): CORS
  backend/internal/api/api.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

ci: allow small Codecov project drop after brand extract
  .gitignore
  codecov.yml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): add device name and location columns
  backend/go.mod
  backend/go.sum
  backend/internal/db/devices.sql.go
  backend/internal/db/models.go
  backend/sql/migrations/0007_device_name_and_location.down.sql
  backend/sql/migrations/0007_device_name_and_location.up.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): add stable friendly device names
  backend/go.mod
  backend/go.sum
  backend/internal/utils/friendly_name.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): persist device location from TTN uplinks
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/ingest.go
  backend/internal/db/devices.sql.go
  backend/sql/queries/devices.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(backend): return 404 for unknown group token
  backend/internal/api/group.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): device info and update endpoints
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/api.go
  backend/internal/api/device.go
  backend/internal/db/devices.sql.go
  backend/sql/queries/devices.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(release): unify version and surface changelogs on marketing
  .github/workflows/sketch-release.yml
  .gitignore
  .release-please-config.json
  .release-please-manifest.json
  CONTRIBUTING.md
  docs/Release-Process.md
  package.json
  pnpm-lock.yaml
  web/brand-showcase/package.json
  web/brand/package.json
  web/brand/src/components/organisms/Footer.tsx
  web/brand/src/index.ts
  web/brand/src/version.ts
  web/docs/package.json
  web/installer/package.json
  web/installer/tests/components/organisms/Footer.test.tsx
  web/marketing/package.json
  web/marketing/src/App.tsx
  web/marketing/src/ChangelogSection.tsx
  web/marketing/src/index.css
  web/marketing/src/vite-env.d.ts
  web/marketing/vite.config.ts
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): ranged downsampled device measurements
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/api.go
  backend/internal/api/device.go
  backend/internal/api/measurements.go
  backend/internal/db/measurements.sql.go
  backend/sql/queries/measurements.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(backend): latest measurements and overview endpoints
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/api.go
  backend/internal/api/measurements.go
  backend/internal/api/measurements_test.go
  backend/internal/api/overview.go
  backend/internal/db/devices.sql.go
  backend/internal/db/groups.sql.go
  backend/internal/db/measurements.sql.go
  backend/sql/queries/devices.sql
  backend/sql/queries/groups.sql
  backend/sql/queries/measurements.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(ci): build web apps on GitHub and deploy to Netlify
  .github/workflows/web-deploy-netlify.yml
  docs/Deployment.md
  docs/Netlify-Deployment.md
  web/brand-showcase/netlify.toml
  web/brand-showcase/public/_redirects
  web/docs/netlify.toml
  web/docs/public/_redirects
  web/installer/netlify.toml
  web/installer/public/_redirects
  web/marketing/netlify.toml
  web/marketing/public/_redirects
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

add device info impl
  backend/docs/swagger.yaml
  backend/internal/api/device.go
  installer/pnpm-lock.yaml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

feat(dashboard): Leipzig map view
  installer/public/img/dashboard/ellipse-active.png
  installer/public/img/dashboard/ellipse-inactive.png
  installer/public/img/dashboard/map-background.png
  installer/public/img/dashboard/polygon-air.png
  installer/public/img/dashboard/polygon-preview.png
  installer/public/img/dashboard/polygon-water.png
  installer/src/components/pages/LeipzigMap.tsx
  installer/src/index.tsx
Owners: @ttnleipzig/regenfass-installer

feat(dashboard): dashboard page
  installer/docs/COMPONENTS.md
  installer/public/img/dashboard/drop-dark.png
  installer/public/img/dashboard/drop-white.png
  installer/src/App.tsx
  installer/src/components/pages/Dashboard.tsx
  installer/tsconfig.app.tsbuildinfo
Owners: @ttnleipzig/regenfass-installer

feat(dashboard): sensor graph component
  installer/src/components/molecules/SensorGraph.tsx
Owners: @ttnleipzig/regenfass-installer

feat(dashboard): sensor data layer
  installer/src/libs/api.ts
  installer/src/libs/sensors.ts
  installer/src/libs/subscriptions.ts
  installer/tests/libs/reduceMeasurementsToReadings.test.ts
Owners: @ttnleipzig/regenfass-installer

feat(dashboard): shared select and text-input components
  installer/src/components/ui/select.tsx
  installer/src/components/ui/text-input.tsx
Owners: @ttnleipzig/regenfass-installer

chore(installer): add map and charting dependencies
  installer/package.json
  installer/pnpm-lock.yaml
Owners: @ttnleipzig/regenfass-installer

fix(ci): read Netlify secrets from production environment
  .github/workflows/web-deploy-netlify.yml
  docs/Netlify-Deployment.md
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

fix(installer): only open Stately debugger when installer mounts
  installer/src/components/molecules/steps/Steps.tsx
Owners: @ttnleipzig/regenfass-installer

fix(ci): pass Netlify CLI --filter for monorepo deploys
  .github/workflows/web-deploy-netlify.yml
  AGENTS.md
  docs/Netlify-Deployment.md
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

docs: finalize Cursor Cloud env setup notes
  .gitignore
  AGENTS.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(release): sync firmware version with Release Please
  .release-please-config.json
  docs/Release-Process.md
  platformio.ini
  src/version.h
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-sketch

feat(web): add Swetrix analytics across Vite apps
  .github/workflows/web-deploy-netlify.yml
  .gitignore
  docs/Local-Development.md
  docs/Netlify-Deployment.md
  pnpm-lock.yaml
  scripts/provision-swetrix.mjs
  web/brand-showcase/.env.example
  web/brand-showcase/src/index.tsx
  web/brand-showcase/src/vite-env.d.ts
  web/brand/package.json
  web/brand/src/components/atoms/ButtonModeToggle.tsx
  web/brand/src/components/organisms/Header.tsx
  web/brand/src/index.ts
  web/brand/src/libs/analytics.ts
  web/docs/.env.example
  web/docs/src/index.tsx
  web/docs/src/vite-env.d.ts
  web/installer/.env.example
  web/installer/docs/components/organisms/header.md
  web/installer/src/components/molecules/steps/Steps.tsx
  web/installer/src/index.tsx
  web/installer/src/vite-env.d.ts
  web/installer/tests/components/atoms/ButtonModeToggle.test.tsx
  web/installer/tests/components/molecules/steps/Steps.test.tsx
  web/marketing/.env.example
  web/marketing/src/App.tsx
  web/marketing/src/index.tsx
  web/marketing/src/vite-env.d.ts
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

fix(web): map SWETRIX_PROJECT_ID_* secrets for Vite builds
  .env.example
  .github/workflows/web-deploy-netlify.yml
  .gitignore
  docs/Local-Development.md
  docs/Netlify-Deployment.md
  scripts/provision-swetrix.mjs
  scripts/sync-swetrix-env.mjs
  web/brand-showcase/.env.example
  web/docs/.env.example
  web/installer/.env.example
  web/marketing/.env.example
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-ci

feat(web): support self-hosted Swetrix API URL
  .env.example
  .github/workflows/web-deploy-netlify.yml
  docs/Local-Development.md
  scripts/provision-swetrix.mjs
  scripts/swetrix-funnels.json
  scripts/sync-swetrix-env.mjs
  web/brand-showcase/src/index.tsx
  web/brand-showcase/src/vite-env.d.ts
  web/brand/src/libs/analytics.ts
  web/docs/src/index.tsx
  web/docs/src/vite-env.d.ts
  web/installer/src/index.tsx
  web/installer/src/vite-env.d.ts
  web/marketing/src/index.tsx
  web/marketing/src/vite-env.d.ts
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-ci

docs(web): document self-hosted Swetrix API host wiring
  .env.example
  docs/Netlify-Deployment.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(installer): add semicolon after initAnalytics call
  web/installer/src/index.tsx
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(web): add Swetrix analytics across Vite apps (#17)
  .env.example
  .github/workflows/web-deploy-netlify.yml
  .gitignore
  docs/Local-Development.md
  docs/Netlify-Deployment.md
  pnpm-lock.yaml
  scripts/provision-swetrix.mjs
  scripts/swetrix-funnels.json
  scripts/sync-swetrix-env.mjs
  web/brand-showcase/.env.example
  web/brand-showcase/src/index.tsx
  web/brand-showcase/src/vite-env.d.ts
  web/brand/package.json
  web/brand/src/components/atoms/ButtonModeToggle.tsx
  web/brand/src/components/organisms/Header.tsx
  web/brand/src/index.ts
  web/brand/src/libs/analytics.ts
  web/docs/.env.example
  web/docs/src/index.tsx
  web/docs/src/vite-env.d.ts
  web/installer/.env.example
  web/installer/docs/components/organisms/header.md
  web/installer/src/components/molecules/steps/Steps.tsx
  web/installer/src/index.tsx
  web/installer/src/vite-env.d.ts
  web/installer/tests/components/atoms/ButtonModeToggle.test.tsx
  web/installer/tests/components/molecules/steps/Steps.test.tsx
  web/marketing/.env.example
  web/marketing/src/App.tsx
  web/marketing/src/index.tsx
  web/marketing/src/vite-env.d.ts
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-ci

fix(release): sync firmware version with Release Please (#16)
  .release-please-config.json
  docs/Release-Process.md
  platformio.ini
  src/version.h
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-sketch

fix(ci): read Netlify site IDs from repository variables
  .github/workflows/web-deploy-netlify.yml
  docs/Netlify-Deployment.md
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

chore(agents): add emil-design-eng design skill
  .agents/skills/emil-design-eng/SKILL.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

docs: focus root README on product and Netlify URLs
  README.md
  docs/Hardware-Support.md
  docs/Home.md
  docs/_Sidebar.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

docs(agents): add rule to prettify Markdown tables
  .agents/rules/markdown-tables.mdc
  AGENTS.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

style(docs): prettify Markdown tables in README and wiki
  README.md
  docs/Hardware-Support.md
  docs/Home.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

docs: focus root README on product and Netlify URLs (#18)
  README.md
  docs/Hardware-Support.md
  docs/Home.md
  docs/_Sidebar.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(ci): use GITHUB_TOKEN for Release Please PRs
  .github/workflows/sketch-release.yml
  docs/Release-Process.md
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

fix(ci): use GITHUB_TOKEN for Release Please PRs (#21)
  .github/workflows/sketch-release.yml
  docs/Release-Process.md
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/core, @ttnleipzig/regenfass

CODEOWNERS:

# default code owner are team leads
*                                         @ttnleipzig/core @ttnleipzig/regenfass


# Installer
/installer                                @ttnleipzig/regenfass-installer

# Sketch
/lib                                      @ttnleipzig/regenfass-sketch
/src                                      @ttnleipzig/regenfass-sketch

# github actions
/.github                                  @ttnleipzig/regenfass-ci
