Repository ttnleipzig/regenfass, changes with the owners that CODEOWNERS names for each.
All owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer, @ttnleipzig/regenfass-sketch, @ttnleipzig/regenfass-ci

CODEOWNERS:

# default code owner are team leads
*                                         @ttnleipzig/core @ttnleipzig/regenfass


# Installer
/installer                                @ttnleipzig/regenfass-installer

# Sketch
/lib                                      @ttnleipzig/regenfass-sketch
/src                                      @ttnleipzig/regenfass-sketch

# github actions
/.github                                  @ttnleipzig/regenfass-ci

style(steps): update div classes for consistent layout
  installer/src/components/molecules/steps/StepConnectReadingVersion.tsx
  installer/src/components/molecules/steps/StepStartWaitingForUser.tsx
  installer/src/components/molecules/steps/Steps.tsx
Owners: @ttnleipzig/regenfass-installer

feat(StepInstallInstalling.tsx): enhance success alert with new styles and animations for improved user feedback
  installer/skills-lock.json
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/tailwind.config.js
Owners: @ttnleipzig/regenfass-installer

feat(alert): add entrance animation for success icon when motion is not reduced
  installer/docs/components/atoms/alert.md
  installer/src/components/molecules/AlertInline.tsx
  installer/src/components/molecules/steps/StepFinishShowingNextSteps.tsx
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/tests/components/molecules/steps/StepFinishShowingNextSteps.test.tsx
Owners: @ttnleipzig/regenfass-installer

fix(scp.ts): handle case where reader is undefined to prevent errors
  installer/src/libs/install/scp.ts
Owners: @ttnleipzig/regenfass-installer

feat(playground): enhance component registry and add OTPField components
  installer/docs/COMPONENTS.md
  installer/public/registry.json
  installer/scripts/generate-playground-registry.ts
  installer/src/components/atoms/Link.tsx
  installer/src/playground/ComponentRenderer.tsx
  installer/src/playground/PlaygroundHome.tsx
  installer/src/playground/PlaygroundLayout.tsx
  installer/src/playground/PlaygroundPreviewShell.tsx
  installer/src/playground/PlaygroundRegistryContext.tsx
  installer/src/playground/playgroundDefaults.ts
  installer/src/playground/registry.json
  installer/tsconfig.app.tsbuildinfo
Owners: @ttnleipzig/regenfass-installer

docs(atomic-design): add atomic design rules for installer UI
  .cursor/rules/atomic-design-installer.mdc
  AGENTS.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

refactor(atomic-design-installer.mdc): update folder structure guidance for new components to prefer atoms/molecules over ui
  .cursor/rules/atomic-design-installer.mdc
  installer/docs/components/README.md
  installer/docs/components/atoms/progress.md
  installer/docs/components/molecules/otp-field.md
  installer/src/components/atoms/Progress.tsx
  installer/src/components/molecules/OTPField.tsx
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/components/molecules/steps/StepConfigWritingConfiguration.tsx
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/src/components/ui/.gitkeep
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-installer

refactor(components): rename ConfettiSpinner to SpinnerConfetti for consistency
  installer/docs/COMPONENTS.md
  installer/docs/components/README.md
  installer/docs/components/atoms/confetti-spinner.md
  installer/docs/components/atoms/spinner-confetti.md
  installer/public/registry.json
  installer/src/components/atoms/ConfettiSpinner.css
  installer/src/components/atoms/ConfettiSpinner.tsx
  installer/src/components/atoms/SpinnerConfetti.css
  installer/src/components/atoms/SpinnerConfetti.tsx
  installer/src/playground/registry.json
  installer/tests/components/atoms/ConfettiSpinner.test.tsx
  installer/tests/components/atoms/SpinnerConfetti.test.tsx
Owners: @ttnleipzig/regenfass-installer

docs: add pnpm-installer rule for consistent command execution
  .cursor/rules/pnpm-installer.mdc
  AGENTS.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(confetti): enhance confetti animation with full-screen burst effect
  installer/docs/components/atoms/confetti.md
  installer/src/components/atoms/Confetti.css
  installer/src/components/atoms/Confetti.tsx
  installer/tests/components/atoms/Confetti.test.tsx
Owners: @ttnleipzig/regenfass-installer

ci(workflows): add condition to run Datadog analysis only if API keys are set
  .github/workflows/analyze-static-datadog.yml
  .github/workflows/installer-deploy.yml
  .github/workflows/installer-pr.yml
  .github/workflows/installer-test.yml
  .github/workflows/sketch-pr.yml
  installer/playwright.config.js
  installer/playwright.config.ts
  installer/tests/content.spec.js
  installer/tests/footer.spec.js
  installer/tests/header.spec.js
  installer/tests/meta.spec.js
Owners: @ttnleipzig/regenfass-ci, @ttnleipzig/regenfass-installer

refactor(App.tsx): replace div with main for semantic HTML structure
  installer/src/App.tsx
  installer/tests/content.spec.js
  installer/tests/footer.spec.js
  installer/tests/header.spec.js
  installer/tests/home.smoke.spec.ts
  installer/tests/meta.spec.js
  installer/tsconfig.app.tsbuildinfo
  installer/tsconfig.node.json
Owners: @ttnleipzig/regenfass-installer

chore(installer): add Pages CNAME and document production deploy
  installer/docs/development.md
  installer/public/CNAME
Owners: @ttnleipzig/regenfass-installer

feat(backend): device registration
  backend/.gitignore
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/api.go
  backend/internal/api/device.go
  backend/internal/api/group.go
  backend/internal/api/request_logger.go
  backend/internal/db/copyfrom.go
  backend/internal/db/db.go
  backend/internal/db/devices.sql.go
  backend/internal/db/groups.sql.go
  backend/internal/db/measurements.sql.go
  backend/internal/db/models.go
  backend/sql/queries/devices.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(installer): add Newsletter component to main app layout
  installer/index.html
  installer/src/App.tsx
  installer/src/components/molecules/steps/Steps.tsx
  installer/src/components/organisms/Footer.tsx
  installer/src/components/organisms/Header.tsx
  installer/src/components/organisms/Newsletter.tsx
  installer/src/index.css
  installer/tests/components/molecules/steps/Steps.test.tsx
  installer/tests/components/organisms/Footer.test.tsx
  installer/tests/components/organisms/Header.test.tsx
  installer/tests/components/organisms/Newsletter.test.tsx
Owners: @ttnleipzig/regenfass-installer

fix(installer): optimize icon loading in dev server
  installer/src/components/atoms/ButtonModeToggle.tsx
  installer/src/components/atoms/Spinner.tsx
  installer/src/components/forms/AppKeyHexField.tsx
  installer/src/components/molecules/AlertInline.tsx
  installer/src/components/molecules/ErrorList.tsx
  installer/src/components/molecules/steps/StepFinishShowingNextSteps.tsx
  installer/src/components/molecules/steps/StepInstallInstalling.tsx
  installer/src/components/organisms/Footer.tsx
Owners: @ttnleipzig/regenfass-installer

feat(backend): allow overwriting the Swagger base URL
  .gitignore
  backend/main.go
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(backend): add production compose
  backend/compose.yml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

refactor(StepConfigEditing.tsx): reorder devEUI input field for improved UI layout consistency
  installer/src/components/molecules/steps/StepConfigEditing.tsx
Owners: @ttnleipzig/regenfass-installer

fix(backend): foreign key constraint bug
  backend/internal/api/ingest.go
  backend/internal/db/devices.sql.go
  backend/sql/queries/devices.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

fix(backend): measurements failing to insert
  .gitignore
  backend/internal/api/ingest.go
  backend/internal/db/devices.sql.go
  backend/sql/queries/devices.sql
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

feat(StepConfigEditing): add copy to clipboard functionality for appEUI and devEUI fields
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(AppKeyHexField): add optional copy button to copy appKey to clipboard
  installer/docs/components/molecules/app-key-hex-field.md
  installer/src/components/forms/AppKeyHexField.tsx
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/tests/components/forms/AppKeyHexField.test.tsx
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
Owners: @ttnleipzig/regenfass-installer

feat(sound-toggle): add sound toggle button to control UI sounds
  installer/docs/components/atoms/sound-toggle.md
  installer/docs/components/molecules/app-key-hex-field.md
  installer/src/components/atoms/ButtonSoundToggle.tsx
  installer/src/components/forms/AppKeyHexField.tsx
  installer/src/components/organisms/Header.tsx
  installer/src/libs/slotRevealSound.ts
  installer/src/libs/soundPreference.ts
  installer/tests/components/atoms/ButtonSoundToggle.test.tsx
  installer/tests/components/forms/AppKeyHexField.test.tsx
  installer/tests/components/organisms/Header.test.tsx
  installer/tests/libs/slotRevealSound.test.ts
  installer/tests/libs/soundPreference.test.ts
Owners: @ttnleipzig/regenfass-installer

feat(sound-toggle.md): update documentation to include camera shutter sound on copy
  installer/docs/components/atoms/sound-toggle.md
  installer/docs/components/molecules/app-key-hex-field.md
  installer/public/audio/photo.mp3
  installer/src/components/forms/AppKeyHexField.tsx
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/libs/cameraCopySound.ts
  installer/src/libs/copyToClipboard.ts
  installer/src/libs/slotRevealSound.ts
  installer/src/libs/webAudioContext.ts
  installer/src/playground/components/CodeViewer.tsx
  installer/tests/libs/cameraCopySound.test.ts
  installer/tests/libs/copyToClipboard.test.ts
  installer/tests/libs/slotRevealSound.test.ts
Owners: @ttnleipzig/regenfass-installer

feat(StepConfigEditing): implement config download as JSON
  installer/.test-run-output.txt
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/libs/downloadConfig.ts
  installer/src/libs/install/state.ts
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
  installer/tests/libs/downloadConfig.test.ts
Owners: @ttnleipzig/regenfass-installer

feat(StepConfigEditing): add file import functionality for config
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/libs/downloadConfig.ts
  installer/src/libs/install/state.ts
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
  installer/tests/libs/downloadConfig.test.ts
Owners: @ttnleipzig/regenfass-installer

feat(installer): add modem sound effect after flash or config I/O
  installer/public/audio/error.mp3
  installer/public/audio/modem.mp3
  installer/src/libs/install/state.ts
  installer/src/libs/modemSound.ts
  installer/tests/libs/modemSound.test.ts
Owners: @ttnleipzig/regenfass-installer

feat(installer): add error sound feedback on configuration errors
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/libs/errorSound.ts
  installer/src/libs/install/state.ts
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
  installer/tests/libs/errorSound.test.ts
Owners: @ttnleipzig/regenfass-installer

feat(AppKeyHexField): add optional reset button to clear appKey input
  installer/docs/components/molecules/app-key-hex-field.md
  installer/src/components/forms/AppKeyHexField.tsx
  installer/src/components/molecules/steps/StepConfigEditing.tsx
  installer/src/components/molecules/steps/StepFinishShowingNextSteps.tsx
  installer/src/libs/install/state.ts
  installer/tests/components/forms/AppKeyHexField.test.tsx
  installer/tests/components/molecules/steps/StepConfigEditing.test.tsx
  installer/tests/components/molecules/steps/StepFinishShowingNextSteps.test.tsx
Owners: @ttnleipzig/regenfass-installer

docs: add Cursor Cloud setup notes to AGENTS.md
  AGENTS.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(installer): align pnpm-lock with package.json dep sections
  installer/pnpm-lock.yaml
Owners: @ttnleipzig/regenfass-installer

docs: add contributor wiki, wiki sync, and web CI paths
  .cursor/rules/AGENT.md
  .cursor/rules/atomic-design-installer.mdc
  .cursor/rules/conventional-commits.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/framework.mdc
  .cursor/rules/icons.mdc
  .cursor/rules/pnpm-installer.mdc
  .cursor/rules/solid-shadcn-components.mdc
  .cursor/rules/test-structure.mdc
  .devcontainer/devcontainer.json
  .github/workflows/installer-deploy.yml
  .github/workflows/installer-pr.yml
  .github/workflows/installer-test.yml
  .github/workflows/web-ci.yml
  .github/workflows/wiki-sync.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/Architecture.md
  docs/Build-Process.md
  docs/Coding-Guidelines.md
  docs/Component-Structure.md
  docs/Deployment.md
  docs/Development-Environment.md
  docs/GitHub-Actions.md
  docs/Home.md
  docs/Local-Development.md
  docs/Netlify-Deployment.md
  docs/Project-Structure.md
  docs/Release-Process.md
  docs/Testing.md
  docs/_Sidebar.md
  web/brand-showcase/netlify.toml
  web/docs/netlify.toml
  web/installer/netlify.toml
  web/marketing/netlify.toml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass, @ttnleipzig/regenfass-ci

chore: rename .cursor rules directory to .agents
  .agents/rules/AGENT.md
  .agents/rules/architekturdiagramme.mdc
  .agents/rules/atomic-design-installer.mdc
  .agents/rules/conventional-commits.mdc
  .agents/rules/documentation.mdc
  .agents/rules/filetree.mdc
  .agents/rules/framework.mdc
  .agents/rules/icons.mdc
  .agents/rules/pnpm-installer.mdc
  .agents/rules/solid-shadcn-components.mdc
  .agents/rules/test-structure.mdc
  .gitignore
  AGENTS.md
  docs/Coding-Guidelines.md
  docs/Component-Structure.md
  docs/Testing.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

docs: expand Netlify guide for four subdomain sites
  docs/Deployment.md
  docs/Netlify-Deployment.md
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

ci: fix pnpm action pin conflict and bump Datadog analyzer
  .github/workflows/analyze-static-datadog.yml
  .github/workflows/installer-deploy.yml
  .github/workflows/installer-pr.yml
  .github/workflows/installer-test.yml
  .github/workflows/web-ci.yml
Owners: @ttnleipzig/regenfass-ci

ci: do not block PRs on Datadog analyzer secret failures
  .github/workflows/analyze-static-datadog.yml
Owners: @ttnleipzig/regenfass-ci

fix(ci): clear installer markdownlint and coverage gate
  web/installer/docs/development.md
  web/installer/vite.config.ts
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

chore(backend): air config
  backend/.air.toml
Owners: @ttnleipzig/core, @ttnleipzig/regenfass

refactor(firmware): make publish interval configurable
  src/config/config.h
  src/main.cpp
Owners: @ttnleipzig/regenfass-sketch
